.aboutMe {
  @extend %content;

  .wrapper {
    @extend %wrapper-content;
    @include flex(null, space-between, center);

    .portrait {
      width: 25%;
      box-shadow: 0 0 10px 5px $shadow;
    }

    .content {
      width: 70%;

      .title {
        @include title();
      }

      .mainTitle {
        margin: 0 0 $indent-min 0;
        font:
          400 $size-32 Nunito,
          sans-serif;
        color: $highlight-text;
        text-align: center;
      }

      .text {
        @extend %description;
        margin: 0 0 $indent-min 0;

        .highlightText {
          @extend %highlightText;
        }
      }

      .container {
        @include flex(null, space-between, center);

        .educationContainer .education {
          @extend %highlightText;
        }

        .educationContainer .speciality {
          font-size: $size-14;
        }

        .downloadButton {
          @extend %button;
          @include position(200px, 0 auto);

          &:hover {
            background: $light-block-background;
          }
        }
      }
    }
  }
}
