.aboutMe {
  @include flex(null, center, center);
  flex-grow: 1;
  background: $dark-block-background;

  .wrapper {
    @include position(80%, 0 auto);
    @include flex(null, space-between, center);
    padding: $indent-max 0;

    .portrait {
      width: 30%;
      box-shadow: 0 0 10px 0 rgba(220, 150, 90, 0.3);
    }

    .content {
      width: 60%;

      .title {
        @extend %title;
      }

      .mainTitle {
        margin: 0 0 $indent-min 0;
        font:
          400 $size-32 Nunito,
          sans-serif;
        color: $highlight-text;
        text-align: center;
      }

      .text {
        margin: 0 0 $indent-min 0;
        font-size: $size-16;
        text-align: justify;

        .highlightText {
          @extend %highlightText;
        }
      }

      .educationBlock {
        margin: 0 0 $indent-min 0;

        .education {
          @extend %highlightText;
        }

        .speciality {
          font-size: $size-14;
        }
      }
    }
  }
}
