.aboutMe {
  @extend %content;

  .wrapper {
    @extend %wrapper-content;
    @include flex(null, space-between, center);

    .portrait {
      width: 25%;
      box-shadow: 0 0 30px -10px $border-color;
    }

    .content {
      width: 70%;

      .title {
        @extend %title;
      }

      .mainTitle {
        margin: 0 0 $indent-min 0;
        font:
          400 $size-32 Nunito,
          sans-serif;
        color: $highlight-text;
        text-align: center;
      }

      .text {
        margin: 0 0 $indent-min 0;
        font-size: $size-16;
        text-align: justify;

        .highlightText {
          @extend %highlightText;
        }
      }

      .educationBlock {
        margin: 0 0 $indent-min 0;

        .education {
          @extend %highlightText;
        }

        .speciality {
          font-size: $size-14;
        }
      }
    }
  }
}
