@use '../../../utils/styles/global' as *;

.link {
  @include flex(null, null, center);
  cursor: pointer;

  &:hover .nameBeforeIcon,
  &:hover .nameAfterIcon {
    color: $highlight-text;
  }

  &:not(:last-child) {
    margin: 0 $indent-max 0 0;
  }

  .icon {
    @include flex(null, center, center);
  }

  .nameBeforeIcon {
    @include link($size-16);
    margin: 0 $indent-min 0 0;
  }

  .iconAfterName::before {
    font-size: $size-32;
  }

  .nameAfterIcon {
    @include link($size-14);
  }

  .iconBeforeName::before {
    font-size: $size-18;
    margin: 0 $indent-min 0 0;
  }

  @include respond($tablet) {
    &:not(:last-child) {
      margin: 0 $indent-min 0 0;
    }

    .nameBeforeIcon {
      margin: 0 $button-indent 0 0;
    }

    .iconBeforeName::before {
      margin: 0 $button-indent 0 0;
    }
  }
}

.notLink {
  cursor: default;

  &:hover .nameBeforeIcon,
  &:hover .nameAfterIcon {
    color: $main-content-text;
  }
}
