@use '../../../utils/styles/global' as *;

.projects {
  @extend %content;

  .wrapper {
    @extend %wrapper-content;

    .title {
      @include title();
    }

    .projectCards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: $indent-min;
      grid-template-areas: 'SN EC FP';

      .SN {
        grid-area: SN;
      }

      .EC {
        grid-area: EC;
      }

      .FP {
        grid-area: FP;
      }

      @include respond($tablet) {
        grid-template-columns: repeat(2, 1fr);
        gap: $button-indent;
        grid-template-areas: 'SN EC' 'FP .';
      }

      @include respond($mobile) {
        grid-template-columns: repeat(1, 1fr);
        gap: $indent-min;
        grid-template-areas: 'SN' 'EC' 'FP';
      }
    }
  }
}
