$light-beige: rgb(210, 220, 230);
$pale-orange: rgb(220, 150, 90);
$light-pale-orange: rgba(220, 150, 90, 0.3);
$gray: rgb(128, 128, 128);
$brick-red: rgb(255, 99, 99);
$soft-green: rgb(100, 160, 100);
$dark-gray: rgb(17, 19, 16);
$dark-grayish-blue: rgb(31, 34, 29);

$content-text: $gray;
$main-content-text: $light-beige;
$highlight-text: $pale-orange;
$border-color: $pale-orange;
$button-background: $pale-orange;
$disabled-button-background: $light-pale-orange;
$input-background: $dark-gray;
$card-background: $dark-grayish-blue;
$dark-block-background: $dark-gray;
$light-block-background: $dark-grayish-blue;
$shadow: $light-pale-orange;
$error: $brick-red;
$success: $soft-green;

$size-10: 0.625rem;
$size-12: 0.75rem;
$size-14: 0.875rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-32: 2rem;
$size-42: 2.625rem;

$button-indent: 5px;
$indent-min: 10px;
$indent-max: 20px;
$border: 2px;

$laptop-size: 64em;
$tablet-size: 48em;
$mobile-size: 20em;

$laptop: laptop;
$tablet: tablet;
$mobile: mobile;

$breakpoints: (
  $laptop: (
    max-width: $laptop-size,
  ),
  $tablet: (
    max-width: $tablet-size,
  ),
  $mobile: (
    max-width: $mobile-size,
  ),
);
