@import './variables';

@mixin position($w, $m) {
  width: $w;
  margin: $m;
}

@mixin flex($fd, $jc, $ai) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

%title {
  margin: 0 0 $indent-min 0;
  font:
    $size-42 Nunito,
    sans-serif;
  color: $main-content-text;
  text-align: center;
}
