@import './variables';

@mixin position($w, $m) {
  width: $w;
  margin: $m;
}

@mixin flex($fd, $jc, $ai) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

@mixin link($size) {
  font:
    700 $size Nunito,
    sans-serif;
  color: $main-content-text;
  transition: all 0.25s linear;
}

%wrapper-template {
  @include position(90%, 0 auto);
  @include flex(null, space-between, center);
  padding: $indent-min 0;
}

%wrapper-content {
  @include position(80%, 0 auto);
  padding: $indent-max 0;
}

%content {
  @include flex(null, center, center);
  flex-grow: 1;
  background: $dark-block-background;
}

%title {
  margin: 0 0 $indent-min 0;
  font:
    $size-42 Nunito,
    sans-serif;
  color: $main-content-text;
  text-align: center;
}

%description {
  margin: 0 0 $indent-min 0;
  font-size: $size-16;
  text-align: justify;
}

%highlightText {
  font:
    $size-18 Nunito,
    sans-serif;
  color: $main-content-text;
}

%card {
  cursor: default;
  background: $card-background;
  position: relative;

  &::before,
  &::after {
    content: '';
    width: 10%;
    height: 15%;
    position: absolute;
    transition: all 0.5s ease-out;
    z-index: 1;
  }

  &::before {
    border-left: $border solid $border-color;
    border-bottom: $border solid $border-color;
    left: 0;
    bottom: 0;
  }

  &::after {
    border-right: $border solid $border-color;
    border-top: $border solid $border-color;
    right: 0;
    top: 0;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }
}
