@import './variables';

@mixin position($w, $m) {
  width: $w;
  margin: $m;
}

@mixin flex($fd, $jc, $ai) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

%wrapper-template {
  @include position(90%, 0 auto);
  @include flex(null, space-between, center);
  padding: $indent-min 0;
}

%wrapper-content {
  @include position(80%, 0 auto);
  padding: $indent-max 0;
}

%content {
  @include flex(null, center, center);
  flex-grow: 1;
  background: $dark-block-background;
}

%title {
  margin: 0 0 $indent-min 0;
  font:
    $size-42 Nunito,
    sans-serif;
  color: $main-content-text;
  text-align: center;
}

%link {
  font:
    700 $size-16 Nunito,
    sans-serif;
  color: $main-content-text;
  transition: all 0.25s linear;
}

%highlightText {
  font:
    $size-18 Nunito,
    sans-serif;
  color: $main-content-text;
}
