$light-beige: rgb(210, 220, 230);
$pale-orange: rgb(220, 150, 90);
$gray: rgb(128, 128, 128);
$dark-gray: rgb(17, 19, 16);
$dark-grayish-blue: rgb(31, 34, 29);

$content-text: $gray;
$main-content-text: $light-beige;
$highlight-text: $pale-orange;
$border-color: $pale-orange;
$button-background: $pale-orange;
$input-background: $dark-grayish-blue;
$card-background: $dark-grayish-blue;
$dark-block-background: $dark-gray;
$light-block-background: $dark-grayish-blue;

$size-14: 0.875rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-32: 2rem;
$size-42: 2.625rem;

$button-indent: 5px;
$indent-min: 10px;
$indent-max: 20px;
$border: 2px;
