@use '../../../utils/styles/global' as *;

.skills {
  @extend %content;

  .wrapper {
    @extend %wrapper-content;

    .title {
      @include title();
    }

    .skillCards {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: $indent-min;
      grid-template-areas:
        'HTML CSS Less Sass JS TS React Redux'
        'Jest Webpack ESLint Prettier Git GH WS Figma';

      .HTML {
        grid-area: HTML;
      }

      .CSS {
        grid-area: CSS;
      }

      .Less {
        grid-area: Less;
      }

      .Sass {
        grid-area: Sass;
      }

      .JS {
        grid-area: JS;
      }

      .TS {
        grid-area: TS;
      }

      .React {
        grid-area: React;
      }

      .Redux {
        grid-area: Redux;
      }

      .Jest {
        grid-area: Jest;
      }

      .Webpack {
        grid-area: Webpack;
      }

      .ESLint {
        grid-area: ESLint;
      }

      .Prettier {
        grid-area: Prettier;
      }

      .Git {
        grid-area: Git;
      }

      .GH {
        grid-area: GH;
      }

      .WS {
        grid-area: WS;
      }

      .Figma {
        grid-area: Figma;
      }

      @include respond($laptop) {
        gap: $button-indent;
      }

      @include respond($tablet) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        'HTML CSS Less Sass'
        'JS TS React Redux'
        'Jest Webpack ESLint Prettier'
        'Git GH WS Figma';
      }

      @include respond($mobile) {
        grid-template-columns: repeat(2, 1fr);
        gap: $indent-min;
        grid-template-areas:
        'HTML CSS'
        'Less Sass'
        'JS TS'
        'React Redux'
        'Jest Webpack'
        'ESLint Prettier'
        'Git GH'
        'WS Figma';
      }
    }
  }
}
