@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 100 900;
  src: url('./nunito-normal.ttf');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 100 900;
  src: url('./nunito-italic.ttf');
}
