@use '../../../../utils/styles/global' as *;

.error {
  width: 100%;
  @include flex(column, null, center);
  background: $dark-block-background;

  .errorTitle {
    @include title($error);
  }

  .errorImageContainer {
    width: 35%;
    overflow: hidden;
    filter: drop-shadow(0 0 $border $border-color);

    @include respond($laptop) {
      width: 45%;
    }

    @include respond($tablet) {
      width: 55%;
    }

    @include respond($mobile) {
      width: 65%;
    }
  }

  .errorMessage {
    @include position(100%, $indent-min 0 0);
    font-size: $size-16;
    text-align: center;
    overflow-wrap: break-word;
    z-index: 3;
  }
}

.globalError {
  height: 100vh;
  justify-content: center;
}
