@use '../../../../utils/styles/global' as *;

.contact {
  @include flex(null, null, center);

  &:not(:last-child) {
    margin: 0 0 $indent-max;
  }

  .icon {
    @include flex(null, center, center);
  }

  .icon::before {
    font-size: $size-42;
    color: $highlight-text;
    margin: 0 $indent-min 0 0;
  }

  .name {
    @extend %highlightText;
    margin: 0 $indent-max 0 0;
  }

  .text,
  .link,
  .phone {
    font-size: $size-14;
  }

  .link:hover,
  .phone:hover {
    transition: all 0.25s linear;
    color: $highlight-text;
  }
}
