@use '../../../../utils/styles/global' as *;

.projectCard {
  @include flex(column, null, null);
  @extend %card-active-corners;
  padding: $indent-min;

  .name,
  .highlightText {
    @extend %highlightText;
  }

  .name {
    font-weight: 700;
    z-index: 2;
  }

  .subname {
    font-size: $size-14;
    z-index: 2;
  }

  .screenshotContainer {
    width: 60%;
    margin: $indent-min auto;
    overflow: hidden;
    z-index: 2;

    @include respond($laptop) {
      width: 70%;
    }

    @include respond($tablet) {
      width: 90%;
    }
  }

  .description {
    @extend %description;
    z-index: 2;
  }

  .technologies {
    font-size: $size-14;
    margin: 0 0 $indent-min;
    z-index: 2;
  }

  .links {
    @include flex(null, null, flex-end);
    flex-grow: 1;
    z-index: 2;
  }
}
