.wrapper {
  text-align: center;

  .title {
    padding: $indent-min;
    font:
      $size-50 Nunito,
      sans-serif;
    color: $title-text;
    background: $dark-block-background;
  }

  .text {
    padding: $indent-min;
    font-size: $size-26;
    background: $light-block-background;
  }
}
