@use '../../utils/styles/global' as *;

.footer {
  background: $light-block-background;

  .wrapper {
    @extend %wrapper-template;

    .links {
      @include flex(null, null, center);
    }

    .copyright {
      font-size: $size-14;

      .highlightText {
        @extend %highlightText;
      }
    }

    @include respond($tablet) {
      .copyright {
        width: 110px;
        text-align: right;
      }
    }

    @include respond($mobile) {
      .copyright {
        width: 100px;
      }
    }
  }
}
