@use '../../../utils/styles/global' as *;

.contacts {
  @extend %content;
  flex-direction: column;

  .wrapper {
    @extend %wrapper-content;
    @include flex(null, space-between, center);

    .content {
      width: 55%;

      .title {
        @include title();
      }

      .links {
        @include flex(null, null, center);
      }
    }

    @include respond($laptop) {
      .content {
        width: 50%;

        .links {
          @include flex(column, null, flex-start);
          gap: $indent-min;
        }
      }
    }

    @include respond($tablet) {
      flex-direction: column;

      .content {
        width: 90%;
      }
    }

    @include respond($mobile) {
      .content {
        width: 100%;

        .links {
          @include flex(row, null, center);
          gap: 0;
        }
      }
    }
  }
}
