@use '../../../../utils/styles/global' as *;

.contactForm {
  width: 40%;
  padding: $indent-max $indent-max $indent-min;
  background: $light-block-background;
  @include corners(50px, 50px);
  @extend %left-bottom-right-top-corners;

  .formTitle {
    @extend %highlightText;
    margin: 0 0 $indent-min;
    text-align: center;
  }

  .wrapper {
    padding: $indent-min;
    @include corners(50px, 50px);
    @extend %left-top-right-bottom-corners;

    .sendButton,
    .resetButton {
      width: 100%;
      position: relative;
      z-index: 2;

      &:hover {
        background: $dark-block-background;
      }

      &:disabled {
        cursor: default;
        outline-color: $error;
        background: $disabled-button-background;
      }
    }

    .resetButton {
      margin: 0 0 $indent-min;
    }
  }

  .status {
    @include position(100%, 8px 0 0);
    font-size: $size-12;
    text-align: center;
    overflow-wrap: break-word;
    position: relative;
    z-index: 2;
  }

  .initialStatus,
  .statusSending {
    color: $content-text;
  }

  .successStatus {
    color: $success;
  }

  .failureStatus {
    color: $error;
  }

  @include respond($laptop) {
    width: 45%;
  }

  @include respond($tablet) {
    @include position(90%, $indent-max 0 $indent-min);
    order: 1;
  }

  @include respond($mobile) {
    width: 100%;
  }
}
